<div
  class="inline-block px-4 py-0.5 transition-colors border border-blue-500 rounded-full cursor-pointer bg-blue-500/20 hover:bg-blue-500/30"
>
  <p class="font-semibold text-blue-400">UnixUI : Próximamente</p>
</div>
